<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Thymetest</title>
	</head>
	<body>
		<div id="friendlist">
		<h2>Students</h2>
			<table>
				<tr th:each="student : ${students}">
					<td th:text="${student.firstName}">...</td>
					<td th:text="${student.lastName}">...</td>				
					<td th:text="${student.email}">...</td>
				</tr>
			</table>
		</div>
		<div id="addfriend">
			<h2>Add a new student</h2>
			<form action="#" th:action="@{/addstudents}" th:object="${student}" method="post">
				ID:
				<br />
				<input type="text" id="id" name="id" th:field="*{id}" />
				<br />
				 First name:
				 <br />
				 <input type="text" id="firstname" name="firstname" th:field="*{firstName}" />
				 <br />
				 Last name:
				 <br />
				 <input type="text" id="lastname" name="lastname" th:field="*{lastName}" />
				 <br />
				 Email:
				 <br />
				 <input type="email" id="email" name="email" th:field="*{email}" />
				 <br />
				 <input type="submit" id="addbutton" value="Add student" />
			</form>
		</div>
	</body>
</html>
